# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/
*.code-workspace

# IDE
.idea/
*.swp
*.swo
*~

# Дистрибутивы
dist/
build/
*.egg-info/

# Логи
*.log